@model List<TaskFlow.Domain.Entity.UserEntity>

@{
    ViewData["Title"] = "Lista de Usuários";
}

<h2>Lista de Usuários</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Ativo</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@(user.IsActive ? "Sim" : "Não")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-warning">Editar</a>

                    <form asp-action="Delete" method="post" onsubmit="return confirm('Tem certeza que deseja excluir?');" style="display:inline;">
                        <input type="hidden" name="id" value="@user.Id" />
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Novo Usuário</a>
