@model List<TaskFlow.Domain.Entity.TaskEntity>
@using TaskFlow.Domain.Enums

@{
    ViewData["Title"] = "Lista de Atividades";
}

<h2>Lista de Atividades</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Título</th>
            <th>Descricao</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.Id</td>
                <td>@task.Title</td>
                <td>@task.Description</td>
                <td>@(task.Status == TaskEntityStatus.Pending ? "Pendente" : "Concluída")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@task.Id" class="btn btn-warning">Editar</a>

                    <form asp-action="Delete" method="post" onsubmit="return confirm('Tem certeza que deseja excluir?');" style="display:inline;">
                        <input type="hidden" name="id" value="@task.Id" />
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Nova tarefa</a>
